<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style> body { font-size: 1.2em; }</style>
    <title>Shopping List Check Off</title>
  </head>
  <body>
    <h1>Sahil's Shopping List Check Off</h1>
    <div class="row"> 
          <div ng-controller='ShoppingListAddController as itemAdder'>
      <ol>
        <li ng-repeat="item in itemAdder.items">
          {{ item.quantity }} of {{ item.name }}
          <!-- <button ng-click="showList.removeItem($index);">Remove Item</button> -->
          <button ng-click="itemAdder.addItem($index);">Bought</button>
        </li>
      </ol>
      <div ng-hide="itemAdder.items.length" style="color: green;">
        Everything is bought!
      </div>
    </div>

    <div ng-controller='ShoppingListShowController as showList'>
      <div ng-hide="showList.itemsBought.length" style="color: red;">
        Nothing bought yet.
      </div>

      <ol>
        <li ng-repeat="item in showList.itemsBought">
          {{ item.quantity }} of {{ item.name }}
          <!-- <button ng-click="showList.removeItem($index);">Remove Item</button> -->
        </li>
      </ol>
    </div>
    </div>
  </body>
</html>